.featured-item {
    background-image: url('../../../assets/home/featured.jpg');
}






/* Mobile styles */
@media (max-width: 767px) {

    /* For screens with a maximum width of 767px (e.g., mobile devices) */
    .featured-item {
        background-image: url('../../../assets/home/featured.jpg');
        background-size: cover;

    }
}